UIElementsSchema/Kamgam.UIToolkitScrollViewPro.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:editor="UnityEditor.UIElements" xmlns:engine="UnityEngine.UIElements" xmlns="UnityEditor.ShortcutManagement" elementFormDefault="qualified" targetNamespace="Kamgam.UIToolkitScrollViewPro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:simpleType name="ScrollViewPro_mode_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vertical" />
      <xs:enumeration value="Horizontal" />
      <xs:enumeration value="VerticalAndHorizontal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ScrollViewPro_horizontal-scroller-visibility_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="AlwaysVisible" />
      <xs:enumeration value="Hidden" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ScrollViewPro_vertical-scroller-visibility_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="AlwaysVisible" />
      <xs:enumeration value="Hidden" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ScrollViewPro_touch-scroll-type_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unrestricted" />
      <xs:enumeration value="Elastic" />
      <xs:enumeration value="Clamped" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ScrollViewPro_snap-align-x_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Visible" />
      <xs:enumeration value="Start" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="End" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ScrollViewPro_snap-align-y_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Visible" />
      <xs:enumeration value="Start" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="End" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ScrollViewPro_snap-ease_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Linear" />
      <xs:enumeration value="CustomCurve" />
      <xs:enumeration value="Ease" />
      <xs:enumeration value="QuadIn" />
      <xs:enumeration value="QuadOut" />
      <xs:enumeration value="QuadInOut" />
      <xs:enumeration value="CubicIn" />
      <xs:enumeration value="CubicOut" />
      <xs:enumeration value="CubicInOut" />
      <xs:enumeration value="QuartIn" />
      <xs:enumeration value="QuartOut" />
      <xs:enumeration value="QuartInOut" />
      <xs:enumeration value="QuintIn" />
      <xs:enumeration value="QuintOut" />
      <xs:enumeration value="QuintInOut" />
      <xs:enumeration value="SineIn" />
      <xs:enumeration value="SineOut" />
      <xs:enumeration value="SineInOut" />
      <xs:enumeration value="ExpoIn" />
      <xs:enumeration value="ExpoOut" />
      <xs:enumeration value="ExpoInOut" />
      <xs:enumeration value="CircIn" />
      <xs:enumeration value="CircOut" />
      <xs:enumeration value="CircInOut" />
      <xs:enumeration value="ElasticIn" />
      <xs:enumeration value="ElasticOut" />
      <xs:enumeration value="ElasticInOut" />
      <xs:enumeration value="BackIn" />
      <xs:enumeration value="BackOut" />
      <xs:enumeration value="BackInOut" />
      <xs:enumeration value="BounceIn" />
      <xs:enumeration value="BounceOut" />
      <xs:enumeration value="BounceInOut" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ScrollViewPro_focus-snap-align-x_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Visible" />
      <xs:enumeration value="Start" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="End" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ScrollViewPro_focus-snap-align-y_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Visible" />
      <xs:enumeration value="Start" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="End" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ScrollViewPro_focus-snap-ease_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Linear" />
      <xs:enumeration value="CustomCurve" />
      <xs:enumeration value="Ease" />
      <xs:enumeration value="QuadIn" />
      <xs:enumeration value="QuadOut" />
      <xs:enumeration value="QuadInOut" />
      <xs:enumeration value="CubicIn" />
      <xs:enumeration value="CubicOut" />
      <xs:enumeration value="CubicInOut" />
      <xs:enumeration value="QuartIn" />
      <xs:enumeration value="QuartOut" />
      <xs:enumeration value="QuartInOut" />
      <xs:enumeration value="QuintIn" />
      <xs:enumeration value="QuintOut" />
      <xs:enumeration value="QuintInOut" />
      <xs:enumeration value="SineIn" />
      <xs:enumeration value="SineOut" />
      <xs:enumeration value="SineInOut" />
      <xs:enumeration value="ExpoIn" />
      <xs:enumeration value="ExpoOut" />
      <xs:enumeration value="ExpoInOut" />
      <xs:enumeration value="CircIn" />
      <xs:enumeration value="CircOut" />
      <xs:enumeration value="CircInOut" />
      <xs:enumeration value="ElasticIn" />
      <xs:enumeration value="ElasticOut" />
      <xs:enumeration value="ElasticInOut" />
      <xs:enumeration value="BackIn" />
      <xs:enumeration value="BackOut" />
      <xs:enumeration value="BackInOut" />
      <xs:enumeration value="BounceIn" />
      <xs:enumeration value="BounceOut" />
      <xs:enumeration value="BounceInOut" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ScrollViewProType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="engine:VisualElement" />
        </xs:sequence>
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="Vertical" name="mode" xmlns:q1="Kamgam.UIToolkitScrollViewPro" type="q1:ScrollViewPro_mode_Type" use="optional" />
        <xs:attribute default="Auto" name="horizontal-scroller-visibility" xmlns:q2="Kamgam.UIToolkitScrollViewPro" type="q2:ScrollViewPro_horizontal-scroller-visibility_Type" use="optional" />
        <xs:attribute default="Auto" name="vertical-scroller-visibility" xmlns:q3="Kamgam.UIToolkitScrollViewPro" type="q3:ScrollViewPro_vertical-scroller-visibility_Type" use="optional" />
        <xs:attribute default="true" name="scroller-buttons" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="focusable-scrollbars" type="xs:boolean" use="optional" />
        <xs:attribute default="18" name="mouse-wheel-scroll-size" type="xs:float" use="optional" />
        <xs:attribute default="-1" name="horizontal-page-size" type="xs:float" use="optional" />
        <xs:attribute default="-1" name="vertical-page-size" type="xs:float" use="optional" />
        <xs:attribute default="Clamped" name="touch-scroll-type" xmlns:q4="Kamgam.UIToolkitScrollViewPro" type="q4:ScrollViewPro_touch-scroll-type_Type" use="optional" />
        <xs:attribute default="0.135" name="scroll-deceleration-rate" type="xs:float" use="optional" />
        <xs:attribute default="0.1" name="elasticity" type="xs:float" use="optional" />
        <xs:attribute default="-1" name="animation-fps" type="xs:int" use="optional" />
        <xs:attribute default="20" name="drag-threshold" type="xs:float" use="optional" />
        <xs:attribute default="false" name="snap" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="snap-target-classes" type="xs:string" use="optional" />
        <xs:attribute default="false" name="snap-target-focusables" type="xs:boolean" use="optional" />
        <xs:attribute default="0.4" name="snap-duration-sec" type="xs:float" use="optional" />
        <xs:attribute default="Center" name="snap-align-x" xmlns:q5="Kamgam.UIToolkitScrollViewPro" type="q5:ScrollViewPro_snap-align-x_Type" use="optional" />
        <xs:attribute default="Center" name="snap-align-y" xmlns:q6="Kamgam.UIToolkitScrollViewPro" type="q6:ScrollViewPro_snap-align-y_Type" use="optional" />
        <xs:attribute default="Ease" name="snap-ease" xmlns:q7="Kamgam.UIToolkitScrollViewPro" type="q7:ScrollViewPro_snap-ease_Type" use="optional" />
        <xs:attribute default="false" name="snap-include-margin" type="xs:boolean" use="optional" />
        <xs:attribute default="1.25" name="snap-velocity-threshold" type="xs:float" use="optional" />
        <xs:attribute default="false" name="focus-snap" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="focus-snap-on-pointer" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="focus-snap-include-margin" type="xs:boolean" use="optional" />
        <xs:attribute default="0.4" name="focus-snap-duration-sec" type="xs:float" use="optional" />
        <xs:attribute default="Visible" name="focus-snap-align-x" xmlns:q8="Kamgam.UIToolkitScrollViewPro" type="q8:ScrollViewPro_focus-snap-align-x_Type" use="optional" />
        <xs:attribute default="Visible" name="focus-snap-align-y" xmlns:q9="Kamgam.UIToolkitScrollViewPro" type="q9:ScrollViewPro_focus-snap-align-y_Type" use="optional" />
        <xs:attribute default="Ease" name="focus-snap-ease" xmlns:q10="Kamgam.UIToolkitScrollViewPro" type="q10:ScrollViewPro_focus-snap-ease_Type" use="optional" />
        <xs:attribute default="false" name="focus-snap-inside" type="xs:boolean" use="optional" />
        <xs:attribute default="0" name="focus-snap-repetition-delay" type="xs:float" use="optional" />
        <xs:attribute default="false" name="infinite" type="xs:boolean" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScrollViewPro" substitutionGroup="engine:VisualElement" xmlns:q11="Kamgam.UIToolkitScrollViewPro" type="q11:ScrollViewProType" />
</xs:schema>